<div class="image-section {{ modifier }}">
    <div class="image-section__image {{ imageModifier }}" data-parallax="{{ image }}"></div>
    <div class="image-section__text text">
        <h1>{{ title }}</h1>
        {{ content }}
    </div>
</div>
