<div class="prod__rating {{ modifier }} {{ class }}">
	<div class="prod__rating-in">
		<div class="rating__stars">
        {% for index in 1..5 %}
				{% if static %}
				<span class="rating__star{% if index <= rating|round %} rating__star--full{% else %}{% if index < rating|round(0, 'ceil') + 1 %} rating__star--half{% endif %}{% endif %}"></span>
				{% else %}
				<input type="radio" id="rating-star-{{ index }}" name="rating" value="{{ index }}" class="rating__star-input" />
				<label class="rating__star" for="rating-star-{{ index }}" title=""></label>
				{% endif %}
		{% endfor %}
		</div>
		{% if not clean %}
			{% if static and review %}
			<div class="rating__review">
				<a href="{{ review.link }}" class="rating__review-text js-scrollto-accordion">{{ review.title }} ({{ review.count }})</a>
			</div>
			</div>
			<div class="prod__code">
				{{ sku_title }} <span>{{ sku }}</span>
			</div>
			{% else %}
				{% if result %}
				<span class="rating__result"><span class="js-rating-selected">{{ result.selected }}</span>/<span class="js-rating-total">{{ result.total }}</span></span>
				{% else %}
				<span class="rating__result">{{ rating|round(0, 'floor') }}/5</span>
					</div>
				{% endif %}
			{% endif %}
		{% endif %}
	
	
</div>

