<div class="author">
    <div class="author__content">
        <div class="grid grid--middle-xs">
            <div class="grid__col--sm-3 grid__col--md-2 grid__col--xs author__col author__col--small">
                <div class="author__image">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="{{ image }}" data-sizes="auto" alt="" class="author__img lazyload">
                </div>
            </div>
            <div class= "grid__col--sm-3 grid__col--md-4 grid__col--xs author__col author__col--large">
                <p class="author__title">{{ name }}</p>
                <p class="author__subtitle">{{ tagline }}</p>
                <p class="author__tagline">{{ count }}</p>
            </div>
            <div class="grid__col--sm-6 grid__col--md-6 grid__col--xs-11">
                <p class="author__description">{{ description }}</p>
            </div>
        </div>
    </div>
</div>



