{% if editableValue.isCustom %}
    {% if editableValue.fields %}
        <form class="editable js-editable-new is-editing h-hidden">
            <div class="editable__edit">
                <div class="editable__edit-top">
                    <span class="editable__edit-title">{{ editableValue.editTitle|default('Lisa uus aadress') }}</span>
                    {% include '@button' with { modifier: 'button--naked button--naked-gray', class: 'editable__edit-close js-close-editable-new', text: editableValue.closeTitle|default('Sulge') } %}
                </div>
                <div class="editable__edit-content">
                    <div class="form-group">
                        {% for field in editableValue.fields %}
                            <div class="form-group__row form-group__row--align-center {{ field.rowModifier }}">
                                {% include field.editableType with field %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% else %}
    <form class="editable {{ class }}">
        <div class="editable__value js-edit">
            <span class="editable__value-title">{{ editableValue.title }}</span>
            <span class="editable__value-content">{{ editableValue.content }}</span>
            {% if editableValue.isDefault %}
            <span class="editable__value-status">{{ strings.label.defaultAddress|default('Vaikimisi aadress') }}</span>
            {% endif %}
            {% include '@icon' with { modifier: 'edit', class: 'editable__icon' } %}
        </div>

        <div class="editable__edit">
            <div class="editable__edit-top">
                <span class="editable__edit-title">{{ editableValue.editTitle|default('Lisa uus aadress') }}</span>
                {% include '@button' with { modifier: 'button--naked button--naked-gray', class: 'editable__edit-close js-close-editable', text: editableValue.closeTitle|default('Sulge') } %}
            </div>
            <div class="editable__edit-content">
                {% if editableValue.fields %}
                    <div class="form-group">
                        {% for field in editableValue.fields %}
                            <div class="form-group__row form-group__row--align-center {{ field.rowModifier }}">
                                {% include field.editableType with field %}
                            </div>
                        {% endfor %}
                    </div>
                    <input type="hidden" name="index" value="{{ editableValue.index }}">
                {% else %}
                    {% block editable_content %}{% endblock %}
                {% endif %}
            </div>
        </div>
    </form>
{% endif %}
