<div class="featured-cats">
    <div class="grid grid--equalheight featured-cats__grid">
        <div class="grid__col--sm-5 featured-cats__col">
            <div class="featured-cats__card featured-cats__card--figure1">
                <picture class="featured-cats__bg">
                    <source media="(min-width: 769px)"
                            data-srcset="{{ categories.cat1.img517x777 }} 470w, {{ categories.cat1.img1142x1554 }} 940w"
                    />
                    <source media="(min-width: 513px)"
                            data-srcset="{{ categories.cat1.img363x777 }} 330w, {{ categories.cat1.img726x1554 }} 660w"
                    />
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                         data-srcset="{{ categories.cat1.img317x220 }} 288w, {{ categories.cat1.img634x440 }} 576w"
                         data-sizes="auto" alt=""
                         class="featured-cats__img lazyload">
                </picture>
                <a href="{{ categories.cat1.link }}" class="featured-cats__link">
                    <h3 class="featured-cats__cat-title">{{ categories.cat1.title }}</h3>
                </a>
            </div>
        </div>
        <div class="grid__col--sm-7">
            <div class="grid grid--equalheight">
                <div class="grid__col--sm-6 grid__col--md-9">
                    <div class="featured-cats__card featured-cats__card--figure2">
                        <picture class="featured-cats__bg">
                            <source media="(min-width: 769px)"
                                    data-srcset="{{ categories.cat2.img519x282 }} 472w, {{ categories.cat2.img1038x564 }} 944w"
                            />
                            <source media="(min-width: 513px)"
                                    data-srcset="{{ categories.cat2.img198x282 }} 180w, {{ categories.cat2.img396x564 }} 360w"
                            />
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                 data-srcset="{{ categories.cat2img317x150 }} 288w, {{ categories.cat2.img634x300 }} 576w"
                                 data-sizes="auto" alt="" class="featured-cats__img lazyload">
                        </picture>
                        <a href="{{ categories.cat2.link }}" class="featured-cats__link">
                            <h3 class="featured-cats__cat-title">{{ categories.cat2.title }}</h3>
                        </a>
                    </div>
                </div>
                <div class="grid__col--sm-6 grid__col--md-3">
                    <div class="featured-cats__card featured-cats__card--figure3">
                        <picture class="featured-cats__bg">
                            <source media="(min-width: 769px)"
                                    data-srcset="{{ categories.cat3.img198x178 }} 180w, {{ categories.cat3.img396x356 }} 360w"
                            />
                            <source media="(min-width: 513px)"
                                    data-srcset="{{ categories.cat3.img198x282 }} 180w, {{ categories.cat3.img396x564 }} 360w"
                            />
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                 data-srcset="{{ categories.cat3.img317x150 }} 288w, {{ categories.cat3.img634x300 }} 576w"
                                 data-sizes="auto" alt="" class="featured-cats__img lazyload">
                        </picture>
                        <a href="{{ categories.cat3.link }}" class="featured-cats__link">
                            <h3 class="featured-cats__cat-title">{{ categories.cat3.title }}</h3>
                        </a>
                    </div>
                </div>
                <div class="grid__col--sm-6 grid__col--md-9">
                    <div class="featured-cats__card featured-cats__card--figure2">
                        <picture class="featured-cats__bg">
                            <source media="(min-width: 769px)"
                                    data-srcset="{{ categories.cat4.img519x282 }} 472w, {{ categories.cat4.img1038x564 }} 944w"
                            />
                            <source media="(min-width: 513px)"
                                    data-srcset="{{ categories.cat4.img198x282 }} 180w, {{ categories.cat4.img396x564 }} 360w"
                            />
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                 data-srcset="{{ categories.cat4.img317x150 }} 288w, {{ categories.cat4.img634x300 }} 576w"
                                 data-sizes="auto" alt="" class="featured-cats__img lazyload">
                        </picture>
                        <a href="{{ categories.cat4.link }}" class="featured-cats__link">
                            <h3 class="featured-cats__cat-title">{{ categories.cat4.title }}</h3>
                        </a>
                    </div>
                </div>
                <div class="grid__col--sm-6 grid__col--md-3">
                    <div class="featured-cats__card featured-cats__card--figure3">
                        <picture class="featured-cats__bg">
                            <source media="(min-width: 769px)"
                                    data-srcset="{{ categories.cat5.img198x178 }} 180w, {{ categories.cat5.img396x356 }} 360w"
                            />
                            <source media="(min-width: 513px)"
                                    data-srcset="{{ categories.cat5.img198x282 }} 180w, {{ categories.cat5.img396x564 }} 360w"
                            />
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                 data-srcset="{{ categories.cat5.img317x150 }} 288w, {{ categories.cat5.img634x300 }} 576w"
                                 data-sizes="auto" alt="" class="featured-cats__img lazyload">
                        </picture>
                        <a href="{{ categories.cat5.link }}" class="featured-cats__link">
                            <h3 class="featured-cats__cat-title">{{ categories.cat5.title }}</h3>
                        </a>
                    </div>
                </div>
                <div class="grid__col--sm-6 grid__col--md-9">
                    <div class="featured-cats__card featured-cats__card--figure4">
                        <picture class="featured-cats__bg">
                            <source media="(min-width: 769px)"
                                    data-srcset="{{ categories.cat6.img519x282 }} 472w, {{ categories.cat6.img1038x564 }} 944w"
                            />
                            <source media="(min-width: 513px)"
                                    data-srcset="{{ categories.cat6.img198x282 }} 180w, {{ categories.cat6.img396x564 }} 360w"
                            />
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                 data-srcset="{{ categories.cat6.img317x150 }} 288w, {{ categories.cat6.img634x300 }} 576w"
                                 data-sizes="auto" alt="" class="featured-cats__img lazyload">
                        </picture>
                        <a href="{{ categories.cat6.link }}" class="featured-cats__link">
                            <h3 class="featured-cats__cat-title">{{ categories.cat6.title }}</h3>
                        </a>
                    </div>
                </div>
                <div class="grid__col--sm-6 grid__col--md-3">
                    <div class="featured-cats__card featured-cats__card--figure5">
                        <picture class="featured-cats__bg">
                            <source media="(min-width: 769px)"
                                    data-srcset="{{ categories.cat7.img198x178 }} 180w, {{ categories.cat7.img396x356 }}  360w"
                            />
                            <source media="(min-width: 513px)"
                                    data-srcset="{{ categories.cat7.img198x282 }} 180w, {{ categories.cat7.img396x564 }} 360w"
                            />
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                 data-srcset="{{ categories.cat7.img317x150 }} 288w, {{ categories.cat7.img634x300 }} 576w"
                                 data-sizes="auto" alt="" class="featured-cats__img lazyload">
                        </picture>
                        <a href="{{ categories.cat7.link }}" class="featured-cats__link">
                            <h3 class="featured-cats__cat-title">{{ categories.cat7.title }}</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid--no-vertical-gutter">
        <div class="grid__col--sm-12">
            <div class="featured-cats__card featured-cats__card--figure6">
                <picture class="featured-cats__bg">
                    <source media="(min-width: 769px)"
                            data-srcset="{{ categories.cat8.img1269x268 }} 1154w, {{ categories.cat8.img2538x536 }} 940w"
                    />
                    <source media="(min-width: 513px)"
                            data-srcset="{{ categories.cat8.img792x268 }} 720w, {{ categories.cat8.img1584x536 }} 1440w"
                    />
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                         data-srcset="{{ categories.cat8.img317x150 }} 288w, {{ categories.cat8.img634x300 }} 576w"
                         data-sizes="auto" alt=""
                         class="featured-cats__img lazyload">
                </picture>
                <a href="{{ categories.cat8.link }}" class="featured-cats__link">
                    <h3 class="featured-cats__cat-title">{{ categories.cat8.title }}</h3>
                </a>
            </div>
        </div>
    </div>
</div>
