<div class="form-textfield form-textfield--floating-label form-textarea {{ modifier }}">
    <div class="form-textfield__inner">
        <textarea class="form-textfield__input {{ innerClass }}" id="{{ id }}" name="{{ name }}" {{ data }} {% if validate %} data-validate="true"{% endif %}>{{ value }}</textarea>
        <label class="form-textfield__label" for="{{ id }}">{{ label }}</label>
    </div>
</div>
